@media(max-width:2563px){
  html{
    font-size: 100%;
  }
}

/* ------------------------------------------------- */

@media(max-width:1921px){
  html{
    font-size: 80%;
  }
}

/* ------------------------------------------------- */

@media(max-width: 1312px){
  html{
    font-size: 50%;
  }

  .hero-img-box{
    max-width: 45%;
}
}

/* ------------------------------------------------- */
@media(max-width: 1045px){
  html{
    font-size: 45%;
  }
}

@media(max-width: 961px){

  .signup-form{
    box-sizing: border-box;
    padding: 2rem 2rem 1rem 2rem;
}

  /* .form-img{
display: none;
  } */
}
/* ------------------------------------------------- */

@media (max-width:815px) {
  html{
    font-size: 40%;
  }
    
  .hero-text-box{
    max-width: 100%;
    margin-bottom: 5rem;
}
.hero-img-box{
  max-width: 80%;
}
.hero-img{
  padding-left: 15rem;
}

.signup-form h1{
  font-size: 3rem;
}
.signup-form p{
font-size: 1.4rem;
}
}
/* ------------------------------------------------- */

@media(max-width: 700px){
  html{
    font-size: 35%;
  }
  .header .img-div {
    width: 12%;
}

.main-nav{
  width: 70%;
} 

}

/* ------------------------------------------------- */
@media(max-width: 600px){
  html{
    font-size: 30%;
  }

  .flex-section .flex-container{
    flex-wrap: wrap;
  }
  .div-1,.div-2{
    margin: 2rem;
  }

  .form-img{
    display: none;
  }

  .signup-form{
    padding: 2rem 3rem 1rem 5rem;
}
.signup-section-bg{
  display: grid;
  grid-template-columns: 1fr;
}
}

/* ------------------------------------------------- */
@media(max-width: 450px){
html{
  font-size: 25%;
}

}

/* ------------------------------------------------- */
@media(max-width: 375px){
html{
  font-size: 18%;
}
}

/* ------------------------------------------------- */
@media(max-width: 282px){
html{
  font-size: 15%;
}
}

